body {
    font-size: 1em;
    padding-top:50px;
    font-family:Arial, sans-serif;
}

#container {
    max-width: 350px;
    margin: 0 auto 0 auto;
    background-color:#B1E8C0;
    overflow: auto;
    padding:25px;
    border-radius:15px 15px 0px 15px;
}

main {
    width:inherit;
    background-color:#FFF;
    background-image:url(pics/linedpaper.png);
    margin-top:25px;
    padding:10px;
    border-radius:10px 10px 0px 10px;
    overflow:auto;

}

h1 {
    font-family: 'Shadows Into Light Two', cursive;
    color: #000 ;
    margin:0px;
}

.message {
    padding:10px;
    font-family: 'Shadows Into Light Two', cursive;
    font-size:1em;
    color:#000;
    background-color:rgba(240, 240, 240, 0.5);
    border-radius:10px 10px 0px 10px;
    box-shadow:3px 3px 0px rgba(220, 220, 220, 0.7);
    margin-bottom: 6px;
}

p {
    margin-top:0px;
    margin-bottom:10px;
}

.datetext {
    font-family:Arial, sans-serif;
    font-size:0.7em;
    text-align:right;
    margin-bottom:5px;
}

#textbox {
    resize:none;
    box-sizing:border-box;
    width: 100%;
    overflow:auto;
    height:100px;
    padding:10px;
    margin-bottom:5px;
    border-width:1px;
    border-color:rgb(200, 200, 200);
    border-style:solid;
    border-radius:10px 10px 0px 10px;
    box-shadow:3px 3px 0px rgba(220, 220, 220, 0.7);
    background-color:rgba(240, 240, 240, 0.5);
}

#button {
    float:right;
    padding:10px;
    border-radius:8px 8px 0px 8px;
    border:none;
    color:#FFF;
    background-color:#000;
    cursor: pointer;
    box-shadow:3px 3px 0px rgba(220, 220, 220, 0.7);
    font-size:0.7em;
}
